// Fonts
$body-font: "Josefin Sans", sans-serif;
$heading-font: "Arsenal", sans-serif;

$fz-10: 10px;
$fz-12: 12px;
$fz-14: 14px;
$fz-16: 16px;
$fz-18: 18px;
$fz-20: 20px;
$fz-24: 24px;
$fz-28: 28px;
$fz-30: 30px;
$fz-36: 36px;
$fz-40: 40px;
$fz-50: 50px;
$fz-60: 60px;

// Color
$no-clr: transparent;
$white-clr: #ffffff;
$black-clr: #000000;

$primary-clr: #f18e7d;

$heading-clr: #282828;
$text-clr: #5f6069;

$bg-light-clr: #FAF9FB;

// Device Width
$break-1200: 1200px;
$break-992: 992px;
$break-991: 991.98px;
$break-768: 768px;
$break-767: 767.98px;
$break-576: 576px;
$break-575: 575.98px;